.filosofia {
  padding: 60px 0 40px 0 ;
  text-align: center;
}

.filosofia-content {
  display: flex;
  flex-direction: column;  /* 🔥 obligatorio */
  align-items: center;
}

.filosofia h1 {
  font-size: 35px;
  margin-bottom: 30px;
  color: #2c3627;
}

.filosofia p {
  margin-bottom: 20px;
  line-height: 1.7;
  font-size: 20px;
  color: #2c3627;
}

