

.footer p {
  margin: 0;
}



.footer {
  text-align: center;
  padding: 40px 0;     /* 🔥 baja el alto */
  margin-top: 15px;    /* 🔥 menos separación */
  border-top: 1px solid #ddd;
  font-size: 14px;
  color: #888;
}